@tailwind base;
@tailwind components;
@tailwind utilities;

/* .grid-area{
 grid-area: 1/1/auto/auto;
} */

*{
    font-family: Switzer;
}

.card-shadow{
    box-shadow: 0px 0px 1px 0px rgba(193, 194, 198, 0.40), 0px 6px 6px -6px rgba(193, 194, 198, 0.16);
}

